body, html, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.App {
  min-height: 100vh;
  background: #fff;
}

/* Add padding to prevent content from being hidden under the AppBar */
.main-content {
  padding-top: 96px;
}

.app {
  padding: 2rem;
  text-align: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: #213547;
}

p {
  color: #666;
  font-size: 1.2em;
} 